/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100%;
  background: #161616;
  box-shadow: -2px 0 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1200;
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}

.close-btn {
  align-self: flex-end;
  font-size: 1.8rem;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar button {
    color: #ccc;
  margin: 10px 0;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
}

/* Dark overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}
