.toolbar button {
  margin: 4px;
  padding: 6px;
  border: 1px solid #aaa;
  background: #353535;
  cursor: pointer;
  border-radius: 6px;
}

.toolbar button img {
  width: 24px;
  height: 24px;
  display: block;
}

.toolbar button.active {
  background: #8b8b8b;
  border-color: #ffffff;
}

.toolbar button.active img {
  filter: brightness(0) invert(1); /* makes icons white if they’re dark */
}


.canvas-layout {
  display: grid;
  grid-template-columns: 80px 1fr 200px; /* left toolbar | canvas | right panel */
  grid-template-rows: 1fr 50px;          /* canvas row | controls row */
  height: 100vh;
  width: 100vw;
}

/* Left toolbar */
.toolbar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  height: 95%;
justify-content: center; 
grid-row: 1 / span 2; /* spans both rows */
background: #161616;
align-items: center;
}

/* Middle canvas */
.canvas-container {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  position: relative;
}

/* Right panel */
.right-panel {
  grid-column: 3;
  grid-row: 1 / span 2;
  color: #ccc;
  background:#161616;
  ;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Bottom controls (undo/redo/zoom) */
.bottom-controls {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
}

body{
  background-color: #161616;
}